/* BASIC RESET */
* {
  margin: 0;
  padding: 0
}

/* GENERAL */
body {
  color: #FFF;
  background-color: #010C20;
  height: 100%;
}

.main-content {
  z-index: 10;
  position: relative;
}

.hero {
  min-height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero video {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* HEADINGS */
.main-title {
  color: rgb(70, 187, 216);
}

.main-subtitle {
  font-size: 1.5rem;
  font-weight: 100;
}

/* HEADER */
header {
  margin: 3rem;
  font-family: 'Advent Pro', sans-serif;
  position: absolute;
  top: 0;
}

/* MAIN / PROJECTS */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  position: relative;
  padding-top: 10rem;
  margin-bottom: 3rem;
}

.project-link{
  width: 300px;
  margin: 3rem;
  padding: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out .3s;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  border-radius: 2%;
  -webkit-box-shadow: 6px 13px 25px -6px rgba(255,255,255,0.6); 
  box-shadow: 6px 0 20px -6px rgba(255,255,255,0.6);
}

.project-img {
  margin: 10px 0;
  width: 100%;
  height: auto;
}

.project-link:hover {
  transform: scale(1.020);
  background-color: rgb(56, 42, 134);
}

.project-title {
  font-weight: 600;
  padding-bottom: 1rem;
}


/* FOOTER */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.footer-link {
  padding: 10px;
  margin: 20px;

}

.footer-icon {
  color: #FFF;
  font-size: 1.6rem;
  transition: all ease-in-out .3s;
}

.footer-icon:hover {
  color: rgb(56, 42, 134);
}

/* DESKTOP VERSION */
@media screen and (min-width: 700px) {

  img {
    height: 250px;
  }

  header {
    margin: 4rem 0 0 5rem;
  }

  .project-link{
    width: 400px;
    margin: 3rem;
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out .3s;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    border-radius: 2%;
    -webkit-box-shadow: 6px 13px 25px -6px rgba(255,255,255,0.6); 
    box-shadow: 6px 0 20px -6px rgba(255,255,255,0.6);
  }

  .main-title {
    font-size: 3.5rem;
    font-weight: 500;
  }
  
  .main-subtitle {
    font-size: 1.8rem;
    font-weight: 100;
  }

  .project-link{
    margin: 4rem;
  }
}